body,html {
	margin: 0;
	padding: 0;
	height: 100%;
}

canvas:last-of-type{
	position: absolute;
	top: 1em;
	right: 0;
}
/*make sure canvas stretches 8 bit style 
canvas {
	image-rendering:optimizeSpeed;      
	image-rendering:-moz-crisp-edges;
	image-rendering:-o-crisp-edges;   
	image-rendering:-webkit-optimize-contrast; 
	image-rendering:optimize-contrast;     
	image-rendering:crisp-edges;            
	image-rendering:pixelated;              
	-ms-interpolation-mode:nearest-neighbor;   
}

@media (orientation:landscape){
	canvas {
		height: 100%;
	}
}

@media (orientation:portrait){
	canvas {
		width: 100%;
	}
}